# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#cachefiles
__pycache__

#debug
../.vscode

#db
db.sqlite3

#storage
media/refVideoUpload
media/refImageUpload
media/video_frames/*.jpg
media/video_frames/*.png
meta-data-files


#env files
*env