# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#cachefiles
__pycache__

#db
db.sqlite3

#storage
media/refVideoUpload
media/video_frames/*.jpg
media/video_frames/*.png